/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    sanger-tol/genomenote Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withName: 'FASTAWINDOWS' {
        // 1 CPU per 1 Gbp
        cpus   = { check_max( Math.ceil(fasta.size() / 1000000000), 'cpus' ) }
        // 250 MB per 100 Mbp
        memory = { check_max( 250.MB * task.attempt * Math.ceil(fasta.size() / 100000000), 'memory' ) }
        time   = { check_max( 6.h  * task.attempt, 'time'   ) }
    }

    withName: 'GUNZIP' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }

    withName: 'BUSCO' {
        maxRetries    = 1
        //cpus   = 64
        cpus   = 8
        memory = 192.GB
        time   = 600.h
        //cpus   = { task.attempt > 1 ? 64 : 32 }
        //memory = { task.attempt > 1 ? 192.GB : 96.GB }
        //time   = { task.attempt > 1 ? 600.h : 47.h }
        //cpus   = { task.attempt > 1 ? 48 : 16 }
        //memory = { task.attempt > 1 ? 192.GB : 48.GB }
        //time   = { task.attempt > 1 ? 47.h : 11.h }
    }
}
